@charset "UTF-8";
article{
	
}

table{
	width: 100%;
	height: auto;
	border-collapse: collapse;
}
th{
	background-color: #8E7C68;
}
td{
	border-bottom: 0.5px solid #DDC9BC;
	text-align: center;
}